modules = ["web", "python-3.11", "nodejs-20"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["freetype", "glibcLocales", "openssl", "postgresql"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Flask Equipment Inventory"

[[workflows.workflow]]
name = "Flask Equipment Inventory"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = ".pythonlibs/bin/python main.py"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 34013
externalPort = 3000

[deployment]
deploymentTarget = "autoscale"
run = [".pythonlibs/bin/gunicorn", "--bind", "0.0.0.0:5000", "--reuse-port", "--workers", "2", "wsgi:app"]
